Hello everybody 👋! We're accepting workshop proposals until {{cfpEndDate}}.

Our next event will be held at **{{locationName}}** on **{{date}} from {{time}}**. Chime in on this issue to join us as a speaker for this event!

[Registration Link]({{eventUrl}})

If this is your first time speaking and are in doubt, we're sure you can! Just leave us a comment and we'll help you in any way we can.

As an Instructor you should:
- Present a hands-on lab for at least 2:30hr

Please submit your Ideas below following the pattern:

*Title*:

*Description*:
*Time*:
*Requirements*:
*Language*: pt-br or en-us
*Instructor mini bio*:
*Instructor Links*:
- Link 1
- Link 2
- Link 3

Later on, all the comments will be submited to a public voting, on which the highest voted comment will be the next session!
