Hello everybody 👋!

Our next event will be held at **{{locationName}}** on **{{date}} from {{time}}**. Chime in on this issue to join us as a mentor for this event!

-- Comment to get involved or ask questions.

If this is your first time mentoring and are in doubt, we're sure you can! Just leave us a comment and we'll help you in any way we can.

Mentors should:

- Have already completed the core NodeSchool workshoppers (http://nodeschool.io/#workshopper-list) before the event.
- Having also completed elective workshoppers (http://nodeschool.io/#workshopper-list) is a great bonus.
- Review the [Mentor Best Practices wiki page](https://github.com/nodeschool/organizers/wiki/Event-Mentor-Best-Practices).
- Arrive 30 minutes early (12:30p) so we can get set up and have our mentor meeting.

**Confirmed mentors (limited to 10 mentors)**:

* You?

**Organizers**:

  @ErickWendel
  @khaosdoctor

Thanks for joining! 🙌

[Attendee registration link]({{eventUrl}})
